<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MyGymAplication"
        tools:targetApi="31">

        <!-- Pantalla principal (inicio de sesión) -->

        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>


        <!-- Pantalla de bienvenida con menú -->
        <activity android:name=".BienvenidaActivity" android:exported="false" />

        <!-- Pantalla de registro de nuevos clientes -->
        <activity android:name=".RegistroActivity" android:exported="false" />

        <!-- Pantalla de perfil del cliente -->
        <activity android:name=".PerfilClienteActivity" android:exported="false" />

        <!-- Pantalla de listado de clientes -->
        <activity android:name=".ListadoClientesActivity" android:exported="false" />


    </application>

</manifest>
